// Kleuren

$color-light: #f8ffe5;
$color-green: #06d6a0;
$color-blue: #1b9aaa;
$color-pink: #ef476f;
$color-yellow: #ffc43d;

// Fonts

$font-size-normal: 14px;
$font-size-small: 8px;

// Family

$font-family-normal: "Arial", Helvetica, sans-serif;
